{% load static %}
<head>
<meta charset="utf-8" />
<title>{% block title %}Магазин{% endblock %}</title>
<link rel="stylesheet" href="/static/css/base.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/popup.css">
<link rel="stylesheet" href="/static/css/support.css">
</head>
<body>

<div id="header">
<a href="/" class="btn btn-light mb-6">Мой магазин</a>
<div id="subheader">
    <a class="btn mb-4" href="/">Каталог</a>
    <a class="btn mb-4" href="/support">Контакты</a>
    <a class="btn mb-4" href="/mail/contact">Поддержка</a>
    {% if request.user.is_authenticated %}
    <a class="btn mb-4" href="/add_sneakers">Добавить товар</a>
    <a class="btn mb-4" href="/search">Poisk</a>
    {% endif %}
<div class="cart">
    {% if request.user.is_authenticated %}
        <a class="btn mb-4" href="/auth/profile">Профиль</a>
        <a class="btn mb-4" href="/auth/logout/">Выйти</a>
    {% else %}
        <a class="btn mb-4" href="/auth/register/">Регистрация</a>
        <a class="btn mb-4" href="/auth/login/">Войти</a>
    {% endif %}
</div>
<div class="cart">
    {% with total_item=cart|length %}
    {% if cart|length > 0 %}
    В корзине:
        <a class="btn mb-4" href="{% url 'cart:cart_detail' %}">
    {{ total_item }} товар(а), на сумму: ${{ cart.get_total_price }}
        </a>
    {% else %}
        <a class="btn mb-4">Корзина пустая</a>
    {% endif %}
    {% endwith %}

</div>
</div>
</div>
<div id="content">
    <form action="{% url 'store:search' %}" method="get">
        <input type="search" name="q" placeholder="...">
        <button type="submit">Поиск</button>
    </form>
{% block content %}{% endblock %}
</div>

</body>
</html>