{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div class="sneakers-detail">
<img src="{% if sneakers.img %}{{ sneakers.img.url }}{% else %}
{% static "img/no_img.png" %}{% endif %}">
<h1>{{ sneakers.name }}</h1>
<h2>
<a>{{ sneakers.company }}</a>
</h2>
<p class="price">${{ sneakers.price }}</p>
    <form action="{% url 'cart:cart_add' sneakers.id %}" method='post'>

        {% csrf_token %}
        {% if request.user.is_authenticated %}
        <input class="btn-secondary mb-6" type="submit" value="В корзину">
        {% else %}
    <div class="popup btn-secondary mb-6" onclick="myFunction()">В корзину
  <span class="popuptext" id="myPopup">Чтобы добавить товар в корзину необходимо авторизоваться</span>
</div>
        {% endif %}
    </form>

{{ sneakers.description|linebreaks }}

    <script>
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>
    <strong>Комментарии({{ sneakers.some_comment.all.count }}):</strong>
    <ul>
    {% for comment in sneakers.some_comment.all %}
<hr>
        <strong>{{ comment.author }}:</strong></br>
        {{comment.comment_text}}</br>
        {{ comment.comment_time }}</br>
    </ul>
    {% endfor %}
    <hr/>
        <strong>Оставьте свой комментарий</strong>
    <div>
    <form action="" id="add_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input class="btn btn-primary mb-2" type="submit" value="Отправить"></p>
    </form>
</div>
    {% endblock %}