{% extends "base.html" %}
{% load static %}
{% block title %}
{{ sneakers.name }}
Watching for file changes with StatReloader
Performing system checks...

System check identified no issues (0 silenced).
May 17, 2023 - 16:14:26
Django version 4.2.1, using settings 'config.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CONTROL-C.

[17/May/2023 16:14:30] "GET / HTTP/1.1" 200 2380
[17/May/2023 16:14:34] "GET /1/samba HTTP/1.1" 200 2070

{% endblock %}

{% block content %}
<div class="sneakers-detail">
<img src="{% if sneakers.img %}{{ sneakers.img.url }}{% else %}
{% static "img/no_img.png" %}{% endif %}">
<h1>{{ sneakers.name }}</h1>
<h2>
<a>{{ sneakers.company }}</a>
</h2>
<p class="price">${{ sneakers.price }}</p>
    <form action="{% url 'cart:cart_add' sneakers.id %}" method='post'>
        {{ form }}
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        <input class="btn-secondary mb-6" type="submit" value="В корзину">
        {% else %}
    <div class="popup btn-secondary mb-6" onclick="myFunction()">В корзину
  <span class="popuptext" id="myPopup">Чтобы добавить товар в корзину необходимо авторизоваться</span>
</div>
        {% endif %}
    </form>
{{ sneakers.description|linebreaks }}

    <script>
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>
</div>
{% endblock %}