{% extends "base.html" %}
{% load static %}
{% block title %}сяпки{% endblock %}
{% block content %}


<div class="container">
               <div class="row" align="center">

                    <div class="col-md-6 col-sm-12">

                              <div class="section-title">
                                   <h2>Спасибо за ваш комментарий</h2>

                                  <a class="btn-secondary mb-4" href="/">Вернуться в магазин</a>
                              </div>


                    </div>
               </div>
          </div>

{% endblock %}