{% extends 'base.html' %}
{% load static %}

{% block title %}
  Регистриция
{% endblock %}
{% block content %}

    <div align="center" class="large-offset-3 large-6 columns">
<h1>Создайте свой аккаунт</h1>
    <p>Для регистрации заполните следующую форму:</p>
        <form action="/auth/register/" method="post">
            {{ form.as_p }}
            {% csrf_token %}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p><input class="btn btn-primary mb-2" type="submit" value="Зарегистрироваться"></p>
        </form>
    </div>

{% endblock %}