{% extends "base.html" %}
{% load static %}
{% block title %}Поддержка{% endblock %}
{% block content %}


<nav class="container d-flex flex-wrap" align="center">
        <ul>
            <li class="btn mb-4">Instagram:<a href="https://www.instagram.com">@sneakers</a></li><br/>
            <li class="btn mb-4">Facebook:<a href="https://ru-ru.facebook.com">@sneakers</a></li><br/>
            <li class="btn mb-4">Telegram:<a href="https://web.telegram.org/k/">@sneakers</a></li><br/>
            <li class="btn mb-2">Email:<a>sneakers@sneakers.com</a></li><br/>
            <li class="btn mb-4">Контактный телефон:<br/>+375331112233 <br/>+375294443322</li><br/>
            <li class="btn mb-4">Адресс:%adress%</li><br/>
<p class="nav-link link-dark px-2">© 2022</p>
        </ul>
    </nav>

{% endblock %}